@charset "uft-8"

* {
	
	margin:0; 
	padding:0;
}

body {
	width: 100%;
	height: 100vh;
	padding:0;
	margin:0;
	font-family: 'nanumgothic', 'dotum', 'arial', 'sans-serif';
	box-sizing: border-box; 
}

a {
	text-decoration: none;
	text-transform: capitalize;
}

ul, ol, li {
	list-style: none;
}

input[type="text"] {
	width:100%;
	outline:none;
}

.tit {
	font-size:24px;
	display:inline-block;
}

div#wrap {
	width:100%;
	height: 2933px;
}

#quick {
	position: fixed;
	top:27%;
	z-index:999;
	right:1%;
}

div#header {
	width: 100%;
	height: 110px;
	position: fixed;
	top:0;
	left:0;
	z-index: 99;
	border-bottom:1px solid #eeeeee;
	overflow: hidden;
	transition: all 0.5s;
	background: url("../images/header_bg.png") repeat-x;
}

div#header_inner {
	max-width: 1200px;
	height: 110px;
	margin:0 auto;
	position: relative;
}

#header_inner .logo {
	position: absolute;
	top:15px;
	left:0;
	margin:0;
	padding:0;
}

.gomain {
	position: absolute;
	top:0;
	right:175px;
}

#header_inner .gnb {
	width: 975px;
	height: 110px;
	position: absolute;
	top:0;
	left:79px;
	margin:0;
	padding:0;
}

.gnb > li {
	width: 100px;
	height: 110px;
	float:left;
	position: relative;
	text-align: center;
	margin:0 10px;
}

.gnb > li > a {
	display: block;
	font-weight: 600;
	font-size:17px;
	line-height: 110px;
	color:#444444;
	height: 110px;
	position: relative;
}

.gnb > li > a:after {
	content:"";
	display: block;
	width: 100%;
	height: 3px;
	background: #cf3e58;
	position: absolute;
	left:0;
	bottom:9999px;
	transition: transform 0.3s, bottom 0s 0.3s;
	transform: scaleX(0);
}

.gnb > li:hover > a:after {
	transform: scaleX(1);
	bottom:0;
	transition: transform 0.3s;
}

.gnb > li > a > .main-ko {
	display: none;
}

.gnb > li > a > .main-en {
	display: block;
}

.gnb > li > a:hover > .main-en {
	display: none;
}

.gnb > li > a:hover > .main-ko{
	display: block;
}

.gnb > li > ul {
	width: 100%;
	height: 264px;
	position: absolute;
	top:110px;
	left:0;
	padding:27px 0;
}

.gnb > li > ul > li > a {
	display: block;
	text-align: center;
	font-weight:600;
	font-size: 15px;
	line-height: 35px;
	color:#ccc;
	white-space: nowrap;
}

.gnb > li > ul > li a:hover {
	color:#cf3e58;
}

#header_inner .until {
	position: absolute;
	top:45px;
	right:30px;
	font-weight: 600;
}

#header_inner .until li {
	float:left;
	margin:0 0 0 20px;
}

#header_inner .until li:first-child {
	margin:0;
}

#header_inner .until li a {
	font-size: 13px;
	line-height: 20px;
	color:#444;
}

/*헤더 끝*/

#container {
	margin-top:110px;
	width:100%;
	height: 2933px;
	overflow: hidden;
}

#visualmain {
	width:1200px;
	height:2933px;
	margin:0 auto;
}
#visualmain > #control_box {
	width:1200px;
	margin:0 auto;
	position: absolute;
	top:910px;
	z-index:1;
	padding:0;
	margin:0;
	float:left;
	overflow: hidden;
}

#control_box > ul {
	margin: 0;
	padding: 0;
}

#control_box > ul > li {
	width: 239px;
	height: 50px;
	float:left;
	text-align: center;
	line-height:50px;
	background:rgba(255,255,255,0.9);
	margin-right:1px;
}

#control_box > ul > li:last-child{
	margin:0;
}

#control_box > ul > li:hover {
	background:#983b43;
}

#control_box > ul > li:hover a {
	color:#ffffff;
}

#control_box ul li a {
	font-size:15px;
	font-weight:600;
	transition:all 0.3s;
	color:#666666;
}

#slideshow {
	margin:0 auto;
	background: #444;
	position: relative;
	width: 1980px;
	height: 850px;
	margin: 0 -355px;
}

#slideshow ul {
	position: relative;
	margin:0;
	padding:0;
	width: 13860px;
}

#slideshow ul li {
	display: block;
	width: 1980px;
	float:left;
}

.slide_control {
	width:1210px;
	height: 54px;
	position: absolute;
	top:42%;
	left:18%;
}

.slide-next {
	float:right;
}

/*비주얼 메인 끝*/

#maincontent {
	width:100%;
	background:#444;
	overflow: hidden;
	box-sizing: border-box;
}

#section1 {
	width:800px;
	float:left;
	background:#555;
}

#section1 a {
	display:block;
	width:800px;
	height:386px;
}

#section1 img {
	width:800px;
	height:386px;
}


#section2 {
	width:400px;
	height:386px;
	padding:50px 40px 0;
	background:#f5f4f2;
	float:right;
}

#section2 #txt {
	font-size:22px;
	font-weight:700;
	line-height:32px;
	color:#666666;
}

#section2 .storeinput {
	height:40px;
	padding:0 57px 0 20px;
	margin:0 0 10px;
	box-sizing:border-box;
	background:#ffffff;
}

#section2 .btn {
	width:100%;
	height:50px;
	line-height:50px;
	background:#3b3230;
	text-align: center;
	font-size:15px;
	font-weight:700;
}

#section2 .btn > a, a:visited, a:link {
	color:#ffffff;
}


#section3 {
	clear:both;
	width:400px;
	height:500px;
	padding:180px 40px 0;
	float:left;
	background:url("../images/section3_bg.png");
	background-size:cover;
	margin:0;
}

#section3 a {
	color: #666666;
	text-decoration: underline;
	font-weight: 600;
	font-size:15px;
}


#section4 /*슬라이드쇼*/ {
	width:800px;
	height:500px;
	float:right;
	overflow:hidden;
	position: relative;
	box-sizing: border-box;
}

#section4 ul {
	width:1600px;
	height:500px;
	margin:0;
	padding:0;
	position: relative;
}

#section4 ul li {
	width:800px;
	display:block;
	float:left;
}

a.control_next, a.control_prev {
	position: absolute;
	right:0;
	bottom:52px;
	z-index:1;
	display:block;
	width:50px;
	height:50px;
	background:#ffffff;
	color:#444444;
	text-align:center;
	line-height:50px;
	font-weight:700;
}

a.control_next {
	bottom:1px;
}


#section1, #section2, #section3, #secton4 {box-sizing: border-box;}

#section5, #section6, #section7 {
	width:400px;
	height:450px;
	box-sizing: border-box;
}

#section5 {
	padding:60px 40px 0px;
	float:left;
}

#section6 {
	background:url("../images/section6_bg.png");
	background-size:cover;
	float:left;
}

#section7 {
	background:url("../images/section7_bg.png");
	background-size:cover;
	float:right;
}


#mainbottom {
	width:2560px;
	height:471px;
	margin:0 -680px;
	background:#f5eee8;
	color:#444;
}

#mainbottom > #bottomtab {
	width:1200px;
	height:471px;
	padding:60px 0;
	margin:0 auto;
}
#bottomtab > #tabmenu {
	width:1200px;
	height:50px;
	margin:0 0 60px;
	overflow:hidden;
}

#tabmenu .tit {
	margin:0;
	padding:0;
}

#tabmenu ul.tab {
	width:400px;
	height:30px;
	float:right;
	margin:0;
	padding:0;
	font-size:15px;
	font-weight:600;
	text-align: center;
}

#tabmenu ul li{
	float:left;
	margin: 0 0 0 35px;
	padding:0 0 6px;
}

#tabmenu ul li:first-child {
	margin:0;
}

#tabmenu ul li a {
	color:#9b8777;
}


